.usersImage {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}

.userData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.statusButton
{
    width: 100px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    font-weight: 600;
}

.userStatus
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}