.usersImage {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}

.userData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.statusButton
{
    width: 150px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    font-weight: 600;
}

.activeButton
{
    box-shadow: inset 0px 0px 1px 0px rgba(70, 255, 70, 0.544);
    background-color: transparent;
    border: 1px solid rgb(70, 255, 70);
    color: rgb(70, 255, 70);
}

.inactiveButton
{
    box-shadow: inset 0px 0px 1px 0px rgba(255, 70, 70, 0.544);
    background-color: transparent;
    border: 1px solid rgba(255, 70, 70, 0.544);
    color: rgba(255, 70, 70, 0.544);
}

.breakButton
{
    box-shadow: inset 0px 0px 1px 0px rgba(24, 24, 24, 0.544);
    background-color: transparent;
    border: 1px solid rgba(24, 24, 24, 0.544);
    color: rgba(24, 24, 24, 0.544);
}


.userStatus
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

/* .members
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
} */

.roomMember
{
    font-size: 24px;
    font-weight: bold;
  
}

.members
{
  
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.membersheaD
{
    margin-top: -100px;
}

.members::-webkit-scrollbar
{
    display: none;
}